<h2><!--[$smarty.const._INSTALLERTASK8]--></h2>
<h3><!--[$smarty.const._INSTALLERSELECTHEME]--></h3>
<p><!--[$smarty.const._INSTALLERTHEMES]--></p>
<form action="install.php" method="post">
	<div class="form">
		<input type="hidden" name="action" value="gotosite" />
		<input type="hidden" name="lang" value="<!--[$lang]-->" />
		<input type="hidden" name="installtype" value="<!--[$installtype]-->" />
	    <!--[themelist]-->
		<br class="clearer" />
	</div>
	<div>
		<input type="submit" value="<!--[$smarty.const._NEXT]-->" />
	</div>
</form>
