<h2><!--[$smarty.const._INSTALLERTASK9]--></h2>
<h3><!--[$smarty.const._INSTALLERCREDITS]--></h3>
<p><!--[$smarty.const._INSTALLERTEAM]--></p>
<div class="credits">
	<!--[$credits|nl2br]-->
</div>
<p><!--[$smarty.const._INSTALLERPROBLEMS]--></p>
<div><a href="index.php"><!--[$smarty.const._INSTALLERGOTOSITE]--></a></div>