<h2><!--[$smarty.const._INSTALLERTASK6]--></h2>
<!--[if $passwordcomparefailed or $emailvalidatefailed or $urlvalidatefailed or $uservalidatefailed]-->
	<div class="errormessage">
	<!--[if $passwordcomparefailed]-->
		<!--[$smarty.const._INSTALLERPASSWORDCOMPAREFAILED]-->
	<!--[elseif $emailvalidatefailed]-->
		<!--[$smarty.const._INSTALLEREMAILVALIDATEFAILED]-->
	<!--[elseif $urlvalidatefailed]-->
		<!--[$smarty.const._INSTALLERURLVALIDATECOMPAREFAILED]-->
    <!--[elseif $uservalidatefailed]-->
		<!--[$smarty.const._INSTALLERUSERVALIDATECOMPAREFAILED]-->
	<!--[/if]-->
	</div>
<!--[/if]-->
<form action="install.php" method="post">
	<div class="form">
		<input type="hidden" name="action" value="selectmodule" />
		<input type="hidden" name="lang" value="<!--[$lang]-->" />
		<input type="hidden" name="installtype" value="<!--[$installtype]-->" />
		<div>
			<label for="realname"><!--[$smarty.const._INSTALLERADMINNAME]--></label>
			<input type="text" name="realname" id="realname" maxlength="80" value="<!--[$realname|default:'admin']-->" />
			<br class="clearer" />
		</div>
		<div>
			<label for="username"><!--[$smarty.const._INSTALLERADMINUSERNAME]--></label>
			<input type="text" name="username" id="username" maxlength="80" value="<!--[$username|default:'admin']-->"<!--[if $uservalidatefailed]--> class="validationfailed"<!--[/if]--> />
			<br class="clearer" />
		</div>
		<div>
			<label for="password"><!--[$smarty.const._INSTALLERADMINPASSWORD]--></label>
			<input type="password" name="password" id="password" maxlength="80" value="<!--[$password]-->"<!--[if $passwordcomparefailed]--> class="validationfailed"<!--[/if]--> />
			<br class="clearer" />
		</div>
		<div>
			<label for="repeatpassword"><!--[$smarty.const._INSTALLERADMINRETYPEPASSWORD]--></label>
			<input type="password" name="repeatpassword" id="repeatpassword" maxlength="80" value="<!--[$repeatpassword]-->"<!--[if $passwordcomparefailed]--> class="validationfailed"<!--[/if]--> />
			<br class="clearer" />
		</div>
		<div>
			<label for="email"><!--[$smarty.const._INSTALLERADMINEMAIL]--></label>
			<input type="text" name="email" id="email" maxlength="80" value="<!--[$email]-->"<!--[if $emailvalidatefailed]--> class="validationfailed"<!--[/if]--> />
			<br class="clearer" />
		</div>
		<div>
			<label for="url"><!--[$smarty.const._INSTALLERADMINURL]--></label>
			<input type="text" name="url" id="url" maxlength="80" value="<!--[$url]-->"<!--[if $urlvalidatefailed]--> class="validationfailed"<!--[/if]--> />
			<br class="clearer" />
		</div>
		<br class="clearer" />
	</div>
	<div>
		<input type="submit" value="<!--[$smarty.const._NEXT]-->" />
	</div>
</form>
