<h2><!--[$smarty.const._INSTALLERTASK2]--></h2>
<form action="install.php" method="post">
<div>
  <input type="hidden" name="action" value="requirements" />
  <input type="hidden" name="lang" value="<!--[$lang]-->" />
  <p><!--[$smarty.const._INSTALLERTHISSCRIPT]--></p>
  <p><!--[$smarty.const._INSTALLERLICENSE]--></p>
  <div class="licence">
    <!--[$licence|htmlentities|nl2br]-->
  </div>
  <div>
    <input type="submit" value="<!--[$smarty.const._ACCEPTLICENCE]-->" />
  </div>
</div>
</form>