<h2><!--[$smarty.const._INSTALLERTASK3]--></h2>
<h3><!--[$smarty.const._INSTALLERPHP]--></h3>
<ul class="systemrequirements">
<!--[phpversion assign=phpversion]-->
<!--[if $phpversion gt '4.3.0']-->
	<li class="passed"><!--[$smarty.const._INSTALLERPHPVEROK|replace:"%v":$phpversion]--></li>
<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERPHPVERNOTOK|replace:"%v":$phpversion]--></li><!--[assign var=checkfailed value=true]-->
<!--[/if]-->
<!--[phpfunctionexists func=token_get_all assign=phptokens]-->
<!--[if $phptokens]-->
	<li class="passed"><!--[$smarty.const._INSTALLERPHPTOKENOK]--></li>
<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERPHPTOKENNOTOK]--></li><!--[assign var=checkfailed value=true]-->
<!--[/if]-->
<!--[phpfunctionexists func=mb_get_info assign=mbstring]-->
<!--[if $mbstring]-->
	<li class="passed"><!--[$smarty.const._INSTALLERPHPMBSTRINGOK]--></li>
<!--[else]-->
	<li class="warning"><!--[$smarty.const._INSTALLERPHPMBSTRINGNOTOK]--></li>
<!--[/if]-->
</ul>
<h3><!--[$smarty.const._INSTALLERPERSONALCONFIG]--></h3>
<ul class="systemrequirements">
	<!--[fileexists file=config/personal_config.php assign=file]-->
	<!--[if $file neq true]-->
	<li class="passed"><!--[$smarty.const._INSTALLERPERSONALCONFIGDOESNOTEXIST|replace:"%f":"config/personal_config.php"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERPERSONALCONFIGEXISTS|replace:"%f":"config/personal_config.php"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
</ul>
<h3><!--[$smarty.const._INSTALLERFILESYSTEMPERMS]--></h3>
<ul class="systemrequirements">
	<!--[iswriteable file=config/config.php assign=file]-->
	<!--[if $file]-->
	<li class="passed"><!--[$smarty.const._INSTALLERFILEWRITABLE|replace:"%f":"config/config.php"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERFILENOTWRITABLE|replace:"%f":"config/config.php"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
	<!--[iswriteable file=`$temp` assign=file]-->
	<!--[if $file]-->
	<li class="passed"><!--[$smarty.const._INSTALLERFILEWRITABLE|replace:"%f":"`$temp`"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERFILENOTWRITABLE|replace:"%f":"`$temp`"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
	<!--[iswriteable file=`$temp`/adodb assign=file]-->
	<!--[if $file]-->
	<li class="passed"><!--[$smarty.const._INSTALLERFILEWRITABLE|replace:"%f":"`$temp`/adodb"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERFILENOTWRITABLE|replace:"%f":"`$temp`/adodb"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
	<!--[iswriteable file=`$temp`/error_logs assign=file]-->
	<!--[if $file]-->
	<li class="passed"><!--[$smarty.const._INSTALLERFILEWRITABLE|replace:"%f":"`$temp`/error_logs"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERFILENOTWRITABLE|replace:"%f":"`$temp`/error_logs"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
	<!--[iswriteable file=`$temp`/pnRender_compiled assign=file]-->
	<!--[if $file]-->
	<li class="passed"><!--[$smarty.const._INSTALLERFILEWRITABLE|replace:"%f":"`$temp`/pnRender_compiled"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERFILENOTWRITABLE|replace:"%f":"`$temp`/pnRender_compiled"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
	<!--[iswriteable file=`$temp`/pnRender_cache assign=file]-->
	<!--[if $file]-->
	<li class="passed"><!--[$smarty.const._INSTALLERFILEWRITABLE|replace:"%f":"`$temp`/pnRender_cache"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERFILENOTWRITABLE|replace:"%f":"`$temp`/pnRender_cache"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
	<!--[iswriteable file=`$temp`/Xanthia_compiled assign=file]-->
	<!--[if $file]-->
	<li class="passed"><!--[$smarty.const._INSTALLERFILEWRITABLE|replace:"%f":"`$temp`/Xanthia_compiled"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERFILENOTWRITABLE|replace:"%f":"`$temp`/Xanthia_compiled"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
	<!--[iswriteable file=`$temp`/Xanthia_cache assign=file]-->
	<!--[if $file]-->
	<li class="passed"><!--[$smarty.const._INSTALLERFILEWRITABLE|replace:"%f":"`$temp`/Xanthia_cache"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERFILENOTWRITABLE|replace:"%f":"`$temp`/Xanthia_cache"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
	<!--[iswriteable file=`$temp`/Xanthia_Config assign=file]-->
	<!--[if $file]-->
	<li class="passed"><!--[$smarty.const._INSTALLERFILEWRITABLE|replace:"%f":"`$temp`/Xanthia_Config"]--></li>
	<!--[else]-->
	<li class="failed"><!--[$smarty.const._INSTALLERFILENOTWRITABLE|replace:"%f":"`$temp`/Xanthia_Config"]--></li><!--[assign var=checkfailed value=true]-->
	<!--[/if]-->
</ul>
<!--[if $checkfailed neq true]-->
<form style="display:inline" action="install.php" method="post">
<div style="display:inline" >
	<input type="hidden" name="action" value="dbinformation" />
	<input type="hidden" name="lang" value="<!--[$lang]-->" />
	<input type="submit" value="<!--[$smarty.const._NEXT]-->" />
</div>
</form>
<!--[else]-->
<form style="display:inline" action="install.php" method="post">
<div style="display:inline">
	<input type="hidden" name="action" value="requirements" />
	<input type="hidden" name="lang" value="<!--[$lang]-->" />
	<input type="submit" value="<!--[$smarty.const._RECHECK]-->" />
</div>
</form>
<!--[/if]-->