<h2><!--[$smarty.const._INSTALLERTASK1]--></h2>
<form action="install.php" method="post">
<div>
	<input type="hidden" name="action" value="licence" />
	<div>
		<label for="language"><!--[$smarty.const._INSTALLERCHOOSELANG]--></label>
		<!--[html_select_languages name=lang all=false installed=true selected=$lang id=language]-->
	</div>
	<div>
		<input type="submit" value="<!--[$smarty.const._NEXT]-->" />
	</div>
</div>
</form>