/* 
 * Styles for upgrade scripts, uses the footerStickAlt technique described by
 * Cameron Addams at http://www.themaninblue.com/writing/perspective/2005/08/29/ 
 * which is based on http://solardreamstudios.com/learn/css/footerstick/ 
 *
 *
 * $Id:  $
 *
 */
html, body, #contents {
    height: 100%;
    width: 100%;
    min-height: 100%;
    color: #000000;
    font-size: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0;
    background-color: #eee;
}

body {
    height: 100%;
}

#nonFooter {
    position: relative;
    min-height: 100%;
}

* html #nonFooter {
    height: 100%;
}

#contents {
    padding-bottom: 5em;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
    /* padding: 10px; */
}

#footer {
    clear: both;
    position: relative;
    margin-top: -5.5em;
	bottom: 0;
    width: 100%;
    background-image: url(../pnimages/bg.gif);
    color: #fff;
	padding-top: 1em;
	padding-bottom: 1em;
}
#footer p {
	padding-left: 2em;
}

#footer a {
    color: #fff;
}

img {
    border: none;
}

#header {
    width: 100%;
    height: 88px;
    background-image: url(../pnimages/bg.gif);
    border-bottom: solid thin black;
}
#headertopleft {
    position: absolute;
    top: 0px;
    left: 0px;
}
#headertopright {
    position: absolute;
    top: 0px;
    right: 0px;
}

ul#upgradelist {
    list-style-image: url(../../images/icons/extrasmall/ok.gif);
}

ul#upgradelist li.upgradeerror {
    color: red;
    list-style-image: url(../../images/icons/extrasmall/error.gif);
}

ul#upgradeform {
    padding: 0;
    list-style-type: none;
    float: left;
}

ul#upgradeform li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 0.5em;
}

ul#upgradeform li.submit {
    float: none;
    width: auto;
    padding-left: 9em;
}

ul#upgradeform label {
    float: left;
    width: 8em;
    margin-right: 1em;
}
