html, body, #contents {
    min-height: 100%;
    width: 100%;
    height: 100%;
    color: #000000;
    font-size: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0px;
    background-color: #eee;
    overflow: auto;
    padding: 0px;
}

#contents {
	margin: 2em;
	width: auto;
}
/*
 * The "height" above is a hack for IE5+/Win.    Below we adjust
 * it using the child selector to hide from IE5+/Win
 */
html>body, html>body #contents {
    height: auto;
}

img {
    border: none;
}

p {
    text-align: left;
}

h1 {
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

form div {
    text-align: center;
}

/*
 * application specific classes
 */
#header {
    width: 100%;
    height: 88px;
    background-image: url(../pnimages/bg.gif);
    border-bottom: solid thin black;
}
#headertopleft {
    position: absolute;
    top: 0px;
    left: 0px;
}
#headertopright {
    position: absolute;
    top: 0px;
    right: 0px;
}
#content {
    margin: 0px 50px 50px 200px;
    padding: 10px;
    }

.menu {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 172px;
    padding: 10px;
    color: #FFFFFF;
    border: 1px dashed #999;
    line-height: 17px;
    background-color: #2147b3;
/* Again, the ugly brilliant hack. */
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 150px;
}

.menu ol {
    padding-bottom: 10px;
    border-bottom: 1px dashed #999;
}

.menu2 {
    position: absolute;
    top: 350px;
    left: 20px;
    width: 172px;
    padding: 10px;
    color: #FFFFFF;
    border: 1px dashed #999;
    line-height: 17px;
    background-color: #2147b3;
/* Again, the ugly brilliant hack. */
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 150px;
}

li.menu_selected {
    color: #DEB84C;
    background-color: inherit;
}
    
.menu li a {
    color: white;
    background-color: inherit;
}

div.menu2 ul li.highlight, div.menu2 ul li.highlight a {
    color: #DEB84C;
    background-color: inherit;
}
/* Again, "be nice to Opera 5". */
body>.menu {
    width: 150px;
}

.qualitystatement {
    font-weight: bold;
    border: 1px dashed red;
    background-color: #FBE786;
    color: inherit;
    margin-top: 30px;
    text-align:center;
    padding: 10px;
}
/* progress bar styles */
.progress {
    border: solid 1px black;
    height: 13px;
    position: relative;
    width: 50%;
    background-color: #cccccc;
    color: inherit;
    margin-left: 25%;
}
.bar {
    position: absolute;
    left: 0px;
    background: #264CB7;
    color: #FFF;
    font-size: 11px;
    text-align: center;
}
.progressbarcontainer {
    text-align: center;
    padding: 10px;
}

/* licence and credits box */
.licence, .credits {
    height: 150px;
    width: auto;
    overflow: auto;
    border: 1px dotted;
    margin-bottom: 5px;
}

/* system requirements */
ul.systemrequirements {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

ul.systemrequirements li
{
    padding-left: 25px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: 0;
}
ul.systemrequirements li.passed
{
    background-image: url(../../images/icons/small/ok.gif);
}
ul.systemrequirements li.failed
{
    background-image: url(../../images/icons/small/cancel.gif);
}
ul.systemrequirements li.warning
{
    background-image: url(../../images/icons/small/info.gif);
}

/* form styling */
div.form {
    width: 100%;
    float: left;
    padding: 5px;
}

div.form div {
    width: 100%;
    padding: 2px 0px 2px 0px;
    text-align: left;
}

div.form label {
    width: 40%;
    float: left;
}

div.form input {
    width: 30%;
    float: left;
}

/* utility classes */
.clearer {
    clear: both;
    height: 0px;
}

.errormessage {
    color: red;
    font-size: medium;
    font-weight: bold;
    width: auto;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.validationfailed {
    border-color: red;
}

/* theme selection */
table#themeselector td.themeselect {
    width: 10%;
}
table#themeselector td.themeselect input {
    width: auto;
}

/* styling for status messages */
.pn-statusmsg, .pn-errormsg {
	margin:0 auto;
	font-weight:bold;
	width: 90%;
	padding: 2em 1em 1em 7em; /* top, right, bottom, left */
    min-height: 40px;
}
div.pn-statusmsg {
	border: 1px solid green;
	background: #ffffea url(../../images/icons/large/info.gif) no-repeat 2em ;
    color: inherit;
}
div.pn-errormsg {
	border: 1px solid red;
	background: #ffffea url(../../images/icons/large/error.gif) no-repeat 2em ;
    color: inherit;
}
