<h2><!--[$smarty.const._INSTALLERTASK7]--></h2>
<h3><!--[$smarty.const._INSTALLERSELECTMODULE]--></h3>
<p><!--[$smarty.const._INSTALLERMODULES]--></p>
<form action="install.php" method="post">
	<div class="form">
		<input type="hidden" name="action" value="selecttheme" />
		<input type="hidden" name="lang" value="<!--[$lang]-->" />
		<input type="hidden" name="installtype" value="<!--[$installtype]-->" />
	    <!--[html_select_modules id=defaultmodule name=defaultmodule type="user" selected="Tour"]-->
		<br class="clearer" />
	</div>
	<div>
		<input type="submit" value="<!--[$smarty.const._NEXT]-->" />
	</div>
</form>
