<h2><!--[$smarty.const._INSTALLERTASK4]--></h2>
<p><strong><!--[$smarty.const._INSTALLERDBINFOFROMHOST]--></strong></p>
<!--[if $dbcreatefailed or $dbconnectfailed]-->
	<div class="errormessage">
		<!--[if $dbcreatefailed]--><!--[$smarty.const._INSTALLERCREATEDBFAILED]-->
		<!--[elseif $dbconnectfailed]--><!--[$smarty.const._INSTALLERCONNECTDBFAILED]--><!--[/if]-->
	</div>
<!--[/if]-->
<form action="install.php" method="post">
	<div class="form">
		<input type="hidden" name="action" value="installtype" />
		<input type="hidden" name="lang" value="<!--[$lang]-->" />
		<div>
			<label for="dbtype"><!--[$smarty.const._INSTALLERDBTYPE]--></label>
            <!--[dbtypes name=dbtype selectedValue=$dbtype id=dbtype]-->
			<br class="clearer" />
		</div>
		<div id="dbtabletype_container">
			<label for="dbtabletype"><!--[$smarty.const._INSTALLERDBTABLETYPE]--></label>
			<select name="dbtabletype" id="dbtabletype">
				<option value="myisam"<!--[if $dbtabletype eq myisam]--> selected="selected"<!--[/if]-->>MyISAM</option>
				<option value="innodb"<!--[if $dbtabletype eq innodb]--> selected="selected"<!--[/if]-->>InnoDB</option>
			</select>
			<br class="clearer" />
		</div>
		<div>
			<label for="dbhost"><!--[$smarty.const._INSTALLERDBHOST]--></label>
			<input type="text" name="dbhost" id="dbhost" maxlength="80" value="<!--[$dbhost|default:'localhost']-->" />
			<br class="clearer" />
		</div>
		<div>
			<label for="dbusername"><!--[$smarty.const._INSTALLERDBUSERNAME]--></label>
			<input type="text" name="dbusername" id="dbusername" maxlength="80" value="<!--[$dbusername]-->" />
			<br class="clearer" />
		</div>
		<div>
			<label for="dbpassword"><!--[$smarty.const._INSTALLERDBPASSWORD]--></label>
			<input type="password" name="dbpassword" id="dbpassword" maxlength="80" value="<!--[$dbpassword]-->" />
			<br class="clearer" />
		</div>
		<div>
			<label for="dbname"><!--[$smarty.const._INSTALLERDBNAME]--></label>
			<input type="text" name="dbname" id="dbname" maxlength="80" value="<!--[$dbname]-->" />
			<br class="clearer" />
		</div>
		<div>
			<label for="dbprefix"><!--[$smarty.const._INSTALLERTABLEPREFIX]--></label>
			<input type="text" name="dbprefix" id="dbprefix" maxlength="40" value="<!--[$dbprefix|default:'zk']-->" />
			<br class="clearer" />
		</div>
		<br class="clearer" />
	</div>
	<div>
		<label for="createdb">
		<input type="checkbox" name="createdb" id="createdb" value="1" />
		<!--[$smarty.const._INSTALLERCREATEDB]-->
		</label>
		<br class="clearer" />
	</div>
	<div>
		<input type="submit" value="<!--[$smarty.const._NEXT]-->" />
	</div>
</form>

