<h2><!--[$smarty.const._INSTALLERTASK5]--></h2>
<p><!--[$smarty.const._INSTALLERSELECTTYPE]--></p>
<form action="install.php" method="post">
<div>
	<input type="hidden" name="action" value="createadmin" />
	<input type="hidden" name="lang" value="<!--[$lang]-->" />
	<div>
		<!--[installtypes name=installtype]-->
	</div>
	<div>
		<input type="submit" value="<!--[$smarty.const._NEXT]-->" />
	</div>
</div>
</form>