<h2><!--[$smarty.const._INSTALLERTASK0]--></h2>
<p><strong><!--[$smarty.const._INSTALLERADMINLOGINREQUIRED]--></strong></p>
<!--[if $loginstate]-->
	<div class="errormessage">
		<!--[if $loginstate == 'failed']--><!--[$smarty.const._INSTALLERLOGINFAILED]-->
		<!--[elseif $loginstate == 'notadmin']--><!--[$smarty.const._INSTALLERNOTADMINUSER]--><!--[/if]-->
	</div>
<!--[/if]-->
<form action="install.php" method="post">
	<div class="form">
		<input type="hidden" name="action" value="login" />
		<input type="hidden" name="lang" value="<!--[$lang]-->" />
		<div>
			<label for="loginuser"><!--[$smarty.const._INSTALLERLOGINUSERNAME]--></label>
			<input type="text" name="loginuser" id="loginuser" maxlength="80" value="<!--[$loginuser]-->" />
			<br class="clearer" />
		</div>
		<div>
			<label for="loginpassword"><!--[$smarty.const._INSTALLERLOGINPASSWORD]--></label>
			<input type="password" name="loginpassword" id="loginpassword" maxlength="80" value="<!--[$loginpassword]-->" />
			<br class="clearer" />
		</div>
	</div>
	<div>
		<input type="submit" value="<!--[$smarty.const._NEXT]-->" />
	</div>
</form>



